@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar-logo img{
  display: block;
  width: 80px;
  height: auto;
  border-radius: 25px;
}

.logo {
  font-size: 2em;
  color:rgb(95, 63, 20);
  pointer-events: none;

}
.navigation a {
  text-decoration: none;
  color:rgb(95, 63, 20);
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}
.navigation a:hover {
  background: rgb(95, 63, 20);
  color: aliceblue;
}
