<div class="login-box">
  <img class="avatar-kfeto" src="./assets/images/logoK.png" alt="" srcset="">
  <h1> Login Here</h1>
  <form >
    <!-- USERNAME -->
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username">

    <!-- PASSWORD -->
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password">

    <input type="submit"  value="Log In">

    <a href="#">Lost your password</a>
    <br>
    <a href="#">Don't have an account?</a>
  </form>
</div>
